<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gen-AI Shop at your Service</title>
    <style>
        nav a {
            color: #1105f1;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="#">Gen AI App Builder</a>
    </nav>
    <hr>
    <div class="content">
        {% block body %} {% endblock %}
    </div>
</body>
</html>