{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="col">
    <h1>Welcome to {{name}}'s 3C Store. </h1>
    <p>Click below and input your search</p>
    </div>
</div>
{% endblock %}
